<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Over Me Now</ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content fill="100%">
  <img src="./assets/images/phone-satellite.jpg" alt="Home page">
</ion-content>
-->
<ion-content fill="100%">
  <iframe href="https://climate.nasa.gov/earth-now/#/vitalsign?vitalsign=satellites&altid=0&animating=f&start=&end=" height="100%" width="100%" frameborder="0"></iframe>
</ion-content>
