<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar></ion-searchbar><br>
  <ion-label justify-content="center">**Click on a probe card to access website**</ion-label><br>
  <ion-list *ngFor="let probe of probes">
      <ion-card (click)="onProbeClick(probe.url)">
        <ion-img [src]="probe.img" width="10%" height="10%"></ion-img>
        <ion-card-header>
          <ion-card-title>{{probe.name}}</ion-card-title>
          <ion-card-subtitle>{{probe.purpose}}, {{probe.country}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{probe.description}}
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>