<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>3D Models</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fill="100%">
  <ion-item>
    <ion-select placeholder="Select Model" [(ngModel)]="selectedModel" (ngModelChange)="segmentChanged($event)" expand="full" text-wrap>
      <ion-select-option value="hubble">Hubble Space Telescope</ion-select-option>
      <ion-select-option value="iss">ISS</ion-select-option>
      <ion-select-option value="atlas">Atlas V 501</ion-select-option>
      <ion-select-option value="moon">Moon</ion-select-option>
      <ion-select-option value="sputnik">Sputnik</ion-select-option>
      <ion-select-option value="shuttle">Space Shuttle</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-content fill="100%">
    <iframe *ngIf="selectedModel === 'hubble'" src="https://solarsystem.nasa.gov/gltf_embed/2383" width="100%" height="100%" frameborder="0"></iframe>
    <iframe *ngIf="selectedModel === 'iss'" src="https://solarsystem.nasa.gov/gltf_embed/2378" width="100%" height="100%" frameborder="0"></iframe>
    <iframe *ngIf="selectedModel === 'atlas'" src="https://solarsystem.nasa.gov/gltf_embed/2404" width="100%" height="100%" frameborder="0"></iframe>
    <iframe *ngIf="selectedModel === 'moon'" src="https://solarsystem.nasa.gov/gltf_embed/2366" width="100%" height="100%" frameborder="0"></iframe>
    <iframe *ngIf="selectedModel === 'sputnik'" width="100%" height="100%" src="https://sketchfab.com/models/f8f37bf684df4836961caa2491762843/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr"></iframe>
    <iframe *ngIf="selectedModel === 'shuttle'" width="100%" height="100%" src="https://sketchfab.com/models/2f04130e3c78439d9765b5ac71b333d2/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr"></iframe>

    <br><br>
    <br><br>
    <ion-card *ngIf="!selectedModel">

      <ion-card-header>
        <ion-card-title>Select a 3D model from top menu</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Showcase made possible thanks to Nasa and Sketchfab<br>
        <img src="./assets/images/logo-sketchfab-196x196.png" height="50%" width="50%" alt="sketchfab">
        <img src="./assets/images/logo-nasa-196x196.png" height="50%" width="50%" alt="nasa">
      </ion-card-content>
    </ion-card>

  </ion-content>
</ion-content>

<ion-footer>
  <ion-button href="https://solarsystem.nasa.gov/" width="50%">NASA Solar System</ion-button>
  <ion-button href="https://sketchfab.com/" width="50%">Sketchfab</ion-button>
</ion-footer>
