<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="logo-twitter" slot="start"></ion-icon>
      <ion-label>Our Twitter</ion-label>
      <ion-button fill="outline" slot="end" href="https://twitter.com/UpThere58376344">Connect</ion-button>
    </ion-item>
    <ion-card-content>
      Talk with the team!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="logo-github" slot="start"></ion-icon>
      <ion-label>Project's GitHub</ion-label>
      <ion-button fill="outline" slot="end" href="https://github.com/GuillaumeLandry/UpThere">Learn</ion-button>
    </ion-item>
    <ion-card-content>
      Learn how it was made!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="planet-outline" slot="start"></ion-icon>
      <ion-label>Nasa Space<br>Apps</ion-label>
      <ion-button fill="outline" slot="end" href="https://www.spaceappschallenge.org/">Make</ion-button>
    </ion-item>
    <ion-card-content>
      Your turn to participate!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="earth" slot="start"></ion-icon>
      <ion-label>Nasa's Eyes</ion-label>
      <ion-button fill="outline" slot="end" href="https://eyes.nasa.gov/eyes-on-the-earth.html">Watch</ion-button>
    </ion-item>
    <ion-card-content>
      Go take a look, see by yourself!
    </ion-card-content>
  </ion-card>
</ion-content>
