<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Learn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedTab" (ngModelChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="launch">
      <ion-label>Launch</ion-label>
    </ion-segment-button>
    <ion-segment-button value="orbits">
      <ion-label>Orbits</ion-label>
    </ion-segment-button>
    <ion-segment-button value="instruments">
      <ion-label>Instruments</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>History</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!--LAUNCH-->
  <ion-text *ngIf="selectedTab === 'launch'">
    <h3>Rockets</h3>
    <img src="./assets/learnContent/rockets.jpg" alt="rockets">
    <p>Used to escape earth atmosphere and propulse
      a probe to the desired altitude / velocity<br></p>
    <p>The vehicle used depends on the weight of the payload and
      the desired altitude for the mission.<br></p>
    <h5>Examples:</h5>
    <p>The Space Shuttle launched Hubble Telescope<br></p>
    <p>The Delta 2 rocket launched NOAA satellites<br></p>
  </ion-text> 

  <!--ORBITS-->
  <ion-text *ngIf="selectedTab === 'orbits'">
    <h3>What is an orbit?</h3>
    <img src="./assets/learnContent/gravity.png" alt="gravity scheme">
    <p>Orbit: Curved path (circular or elliptical) around another object<br></p>
    <p>Gravity: Cause of attraction of bodies.<br></p>
    <p>Angular Momentum: Force acquired with speed around a body<br></p>
    <p>Given enough momentum, the two forces balance, resulting in an orbital path.<br></p>
    <h3>LEO</h3>
    <img src="./assets/learnContent/LEO.png" alt="LEO scheme">
    <p>Low Earth Orbit: 160 to 1000 km altitude.<br></p>
    <p>Typically: Earth imaging and weather satellites.<br></p>
    <p>The International Space station at 400 km.<br></p>
    <p>The Hubble Space telescope at 555 km.<br></p>
    <br><br>
    <h3>MEO</h3>
    <img src="./assets/learnContent/MEO.png" alt="MEO scheme">
    <p>Medium Earth Orbits: Between LEO and GEO<br></p>
    <p>Typically: Global positioning systems (GPS)<br></p>
    <p>Galileo satellites Constellation to provide large coverage.<br></p>
    <br><br>
    <h3>GEO</h3>
    <img src="./assets/learnContent/GEO.png" alt="GEO scheme">
    <p>Geostationary orbit: Follows the equator at 35 700km<br></p>
    <p>Maintain relative position over one particular area<br></p>
    <p>Typically: Communication satellites<br></p>
    <br><br>
  </ion-text>

  <!--INSTRUMENTS-->
  <ion-text *ngIf="selectedTab === 'instruments'">
    <h3>Reaction Wheels</h3>
    <img src="./assets/learnContent/reactionWheel.jpg" alt="reaction wheels">
    <p>Reaction Wheels<br></p>
  </ion-text>


  <!--HISTORY-->
  <ion-text *ngIf="selectedTab === 'history'">
    <h3>Sputnik</h3>
    <img src="./assets/learnContent/sputnik.jpg" alt="sputnik">
    <p>First satellite to go to space<br></p>
  </ion-text>

  <!--NO TAB SELECTED-->
  <br><br>
  <br><br>
  <ion-card *ngIf="!selectedTab">
    <ion-card-header>
      <ion-card-title>Discover</ion-card-title>
      <ion-card-subtitle>What would you want to learn?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Select an option on the top menu.<br>
      Don't forget to visit the 3D models showcase!<br>
      Some elements discussed here can be found there.
    </ion-card-content>
  </ion-card>
</ion-content>
